.main-section {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/heroback.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: #2f303a;
}
.main-section__title {
  width: 700px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  color: $color-main-title;

  font-weight: $font-extra-bold;
  font-size: $font-size-extra;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
